<div class="blur" ng-click="highlight('')"></div>

<div class="fandango-logo">
    <svg width="315" height="53" viewBox="0 0 315 53"
        xmlns="http://www.w3.org/2000/svg">
        <defs>
            <linearGradient x1="0%" y1="50%" x2="100%" y2="50%" id="a">
                <stop stop-color="#018DBA" stop-opacity=".3" offset="0%"></stop>
                <stop stop-color="#018DBA" stop-opacity=".2"
            offset="100%"></stop>
            </linearGradient>
        </defs>
        <g fill-rule="nonzero" fill="none">
            <path
            d="M32.02 8.68V6.95a7.48 7.48 0 0 0-14.9 0v1.72h14.9zm0 2.28h-14.9a1.72 1.72 0 0 0 0 3.44h14.9a1.72 1.72 0 0 0 0-3.44z"
            fill="#373752"></path>
            <path
            d="M45.74 35.09a33.4 33.4 0 0 1 2.87.4V14.42a31.69 31.69 0 0 0-23.7 5.06c-.2.16-.5.16-.7 0a31.39 31.39 0 0 0-23.72-5.1v21.07c.9-.17 1.82-.3 2.73-.4h.13a2.87 2.87 0 0 1 .99 5.57c-.48.12-.97.2-1.46.22l-1.55.2-.32.06a.57.57 0 0 0-.53.56v5.82a31.42 31.42 0 0 1 23.72 5.1c.2.14.48.14.68-.01a31.39 31.39 0 0 1 23.71-5.1v-5.82c0-.3-.24-.56-.55-.57l-.57-.08-1.16-.16c-.5-.03-.99-.1-1.47-.22a2.68 2.68 0 0 1-1.94-2.22 3.46 3.46 0 0 1-.07-.5 2.87 2.87 0 0 1 2.9-2.81h.01zM21.71 30.5a1.72 1.72 0 1 1 0-3.44 1.72 1.72 0 0 1 0 3.44zm5.72 0a1.72 1.72 0 1 1 1.2-.49c-.32.32-.77.5-1.23.5h.03z"
            fill="#FFF"></path>
            <path
            d="M24.91 19.48a.57.57 0 0 1-.35.12v33.12c.12 0 .24-.04.33-.11a31.39 31.39 0 0 1 23.72-5.1V41.7a.57.57 0 0 0-.56-.58l-.57-.08-1.15-.15c-.5-.04-.99-.11-1.47-.23a2.68 2.68 0 0 1-1.95-2.22 2.96 2.96 0 0 1-.06-.5 2.87 2.87 0 0 1 3.45-2.8c.77.1 1.53.2 2.28.34V14.42a31.33 31.33 0 0 0-23.68 5.06h.01zm2.49 10.99a1.72 1.72 0 1 1 1.72-1.72 1.72 1.72 0 0 1-1.72 1.75v-.03z"
            fill="url(#a)" opacity=".8"></path>
            <path
            d="M65 45.85V16.14h21.38v5.4H70.61v8.12h14.95v5.19H70.64v11H65zm46.09-5.61H95.53l-2.55 5.6h-6.09l13.36-29.74h6.12l13.35 29.75h-6.2l-2.43-5.61zm-7.78-17.9l-5.53 12.67h11.05l-5.52-12.66v-.01zm39.82-6.29h5.6v29.8h-3.48l-15.64-20.1v20.07H124V16.1h4.55l14.58 18.45v-18.5zm39.22 14.67c.13 7.53-4.46 15.13-14.8 15.13h-11.76V16.1h11.7c10.17 0 14.75 7.27 14.86 14.62zm-21 9.73h6.12c6.76 0 9.44-4.93 9.3-9.78-.13-4.85-2.84-9.28-9.3-9.28h-6.12v19.06zm46.12-.21H191.9l-2.55 5.6h-6.07l13.35-29.74h6.12l13.36 29.75H210l-2.53-5.61zm-7.78-17.9l-5.58 12.7h11.05l-5.47-12.7zm39.75-6.29h5.66v29.8h-3.49l-15.64-20.1v20.07h-5.61V16.1h4.54l14.59 18.45v-18.5h-.05zm34.86 7.32a11.41 11.41 0 0 0-7.57-2.98c-6.38 0-10.25 4.83-10.25 10.97 0 4.93 2.85 9.87 10.25 9.87a9.87 9.87 0 0 0 6.72-2.39v-5.28h-7.63v-4.93h12.77v12.55a14.8 14.8 0 0 1-11.86 5.36c-11.19 0-15.73-7.35-15.73-15.18 0-8.37 5.23-16.12 15.73-16.12 4.14 0 8.1 1.63 11.05 4.54l-3.49 3.59h.01zm34.94 7.81c-.08 4.93-2.73 10.16-9.73 10.16-7.01 0-9.66-5.23-9.77-10.11-.12-4.89 2.76-10.68 9.77-10.68a9.69 9.69 0 0 1 5.44 1.52l3.78-3.79a15.28 15.28 0 0 0-9.24-2.81c-10.28 0-15.3 7.86-15.3 15.7 0 7.82 4.86 15.34 15.3 15.34 10.44 0 15.18-7.7 15.26-15.4.02-1.64-.2-3.27-.65-4.85l-4.86 4.92z"
            fill="#373752"></path>
            <path
            d="M310.76 20.1l-11.07 11.04-4.38-4.32-3 2.98 7.38 7.36 13.53-13.35a14.57 14.57 0 0 0-2.46-3.72v.01z"
            fill="#BDF271"></path>
        </g>
    </svg>
</div>
<div class="s004">
    <form>
        <fieldset>
            <legend>IS THIS SOURCE RELIABLE?</legend>
            <div class="inner-form">
                <div class="input-field no-focus-outline">
                    <input class="form-control"
                        id="choices-text-preset-values" type="text"
                        placeholder="Type to search..." ng-model="query"
                        ng-keypress="keyPress($event)" />
                    <button class="btn-search" type="button"
                        ng-click="search()">
                        <i class="fas fa-search fa-2x"></i>
                    </button>
                </div>
            </div>

        </fieldset>
    </form>
</div>
<div class="container results">

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-12">
            <div class="empty alert alert-danger" role="alert">
                No results for: <b>"{{query}}."</b>
            </div>

            <div class="error alert alert-danger" role="alert">
                Search Engine is not working, please try again later.</div>
            <!-- Newsfeed -->
            <div class="feed">
                <div id="feed-top"
                    class="row align-items-center text-center feed-top sticky-top">
                    <!--Add sticky-top here^^-->
                    <div class="col-md-3">
                        <img height="180" src='{{twitterData.profile_image_url_https}}'
                            alt="Generic placeholder" id="top-icon"
                            class="head-image img-rounded">
                    </div>
                    <div class="col-md-7">
                        <h2 class="display-1" id="top-title">{{twitterData.name}}</h2>
                        <a href="https://www.twitter.com/{{twitterData.screen_name}}" id="top-url" target="_blank"
                            class="head-url">https://www.twitter.com/{{twitterData.screen_name}}</a>
                    </div>

                    <div class="col-md-2 ">
                        <div id="top-grade" class="rounded-rank"
                            style=""
                            ng-class="neo4jData.trustworthiness>85 ? 'very-good' :(neo4jData.trustworthiness>65? 'good' : (neo4jData.trustworthiness>51?'regular-good' : (neo4jData.trustworthiness==50? 'no-info' :(neo4jData.trustworthiness>35? 'regular-bad' :(neo4jData.trustworthiness>15? 'bad' : 'very-bad')))))">
                            <h1>{{neo4jData.trustworthiness}}</h1>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div class="news twitter-data" ng-class="positive">
                            <i class="fab fa-twitter fa-10x" style="color:#3CAAEC"></i>
                            <!-- EXCERPT -->
                            <div class="excerpt">
                                <!-- BRIEF -->
                                <div class="brief">
                                    <a
                                        href="https://www.twitter.com/{{twitterData.screen_name}}"
                                        target="_blank"
                                        class="name">{{twitterData.name}}
                                    </a>
                                    <img class="verified" src="www/img/verified.svg" ng-if="twitterData.verified === true">
                                </div>
                                <!-- Added text -->
                                <div class="added-text">
                                    {{twitterData.description}}
                                </div>
                                <!-- Feed footer -->
                                <div class="feed-footer">
                                    <a class="following">
                                        <span> {{twitterData.statuses_count}} tweets</span>
                                    </a>
                                    <a class="following">
                                        <span> {{twitterData.friends_count}} following </span>
                                    </a>
                                    <a class="followers">
                                        <span> {{twitterData.followers_count}} followers</span>
                                    </a>
                                </div>
                                <p class="followers">
                                    Member since: {{twitterData.created_at}}
                                </p>
                                <p class="followers">
                                    Location: {{twitterData.location}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col-md-6">
                        <table class="table rounded table-hover">
                            <thead class="table-dark bg-primary">
                                <tr class="">
                                    <th scope="col">General
                                        information</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody class="table-primary">
                                <tr
                                    ng-repeat="(key, value) in generalShowData"
                                    ng-if="key !== 'favicon' ">
                                    <td>{{key}}</td>
                                    <td>{{value}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6" class="fresh-table full-color-azure">
                        <table id="fresh-table" class="table table-hover rounded">
                            <thead class="table-dark bg-primary">
                                <tr>
                                    <th scope="col">Feature
                                        information</th>
                                    <th scope="col">Value <i
                                        class="fas fa-info float-right mt-1 mr-1"></i>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="table-primary">
                                <tr
                                    ng-repeat="(key, value) in neo4jShowData">
                                    <th scope="row" ng-bind-html="key"></th>
                                    <td>
                                        <div class="progress">
                                            <span
                                                class="progress-bar bg-info"
                                                role="progressbar"
                                                style="width: {{(value)}}%; color:black"
                                                aria-valuenow="{{(value*100)}}"
                                                aria-valuemin="0"
                                                aria-valuemax="100">
                                                {{(value)}} </span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Newsfeed -->
    </div>
    <!-- Grid column -->
</div>
<!-- Grid row -->

</div>
