body{
    background: #84d2e6;
    background: -moz-linear-gradient(top, #84d2e6 0%, #ceedf5 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #84d2e6), color-stop(100%, #ceedf5));
    background: -webkit-linear-gradient(top, #84d2e6 0%, #ceedf5 100%);
    background: -o-linear-gradient(top, #84d2e6 0%, #ceedf5 100%);
    background: -ms-linear-gradient(top, #84d2e6 0%, #ceedf5 100%);
    background: linear-gradient(to bottom, #84d2e6 0%, #ceedf5 100%);
    background-repeat: no-repeat;
    transition: background 1s linear;
    -webkit-transition: background 1s linear;
    -moz-transition: background 1s linear;
    height: auto;
    overflow:hidden;
}
.fandango-logo{
    text-align: center;
    padding-top: 15%;
    width: 100%;
}
.empty .error{
    display:none;
    color:blue;

}
.s004 {
    min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;

    font-family: 'Poppins', sans-serif;


    padding: 15px;

}

.no-focus-outline a:focus,
.no-focus-outline button:focus {
    outline: none;
}

.s004 form {
    width: 100%;
    max-width: 790px;
}

.s004 form legend {
    font-size: 36px;
    color: #373752;
    font-weight: 800;
    text-align: center;
    margin-bottom: 50px;
}

.s004 form .inner-form {
    width: 100%;
    margin-bottom: 17px;
}

.s004 form .inner-form .input-field {
    width: 100%;
    position: relative;
}



.s004 form .inner-form .input-field .btn-search {
    width: 70px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
}

.s004 form .inner-form .input-field .btn-search svg {
    fill: #333;
    width: 40px;
    height: 40px;
    transition: all .2s ease-out, color .2s ease-out;
}



.s004 form .suggestion-wrap {
    padding: 0 15px;
}

.s004 form .suggestion-wrap span {
    font-size: 14px;
    font-family: 'Helvetica', sans-serif;
    display: inline-block;
    padding: 0 15px;
    line-height: 32px;
    color: #fff;
    border-radius: 16px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.s004 input{
    padding: 10px 70px 10px 32px;
    font-size: 18px;
    border-radius: 34px;
    color: #666;
    background: #fff;
    min-height: 70px;

}
.feed .news {
    display: flex;
    border: 5px solid ;
    margin: 1rem 0rem;
    padding: 1rem;
    border-radius: 5px;
    position:relative;
    cursor: pointer;
}



.feed .news .label {

    display: block;
    flex: 0 0 auto;
    align-self: stretch;
    width: 2.5rem;

}
.mdb-feed .news .label img {
    width: 100%;
    height: auto;
}
.z-depth-1-half {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15)!important;
}
.rounded-circle {
    border-radius: 50%!important;
}
.feed .news .excerpt {
    display: block;
    flex: 1 1 auto;
    align-self: stretch;
    margin: 0 0 0 1.2rem ;
    word-wrap: break-word;
}
.feed .news .excerpt .brief {
    padding-bottom: .5rem;
    font-weight: 500;
}

.feed .news .excerpt .brief .name {
    display: inline-block;
    vertical-align: baseline;
}
.feed .news .excerpt .brief a {
    color: #4285f4;
}
.feed .news .excerpt .brief .date {
    display: inline-block;
    float: none;
    padding-left: .7rem;
    font-size: .86rem;
    font-weight: 300;
    color: #9e9e9e;
}
.feed .news .excerpt .added-images img {
    display: inline-block;
    width: 7rem;
    margin-right: .3rem;
    margin-top: .3rem;

}
.feed .news .excerpt .feed-footer {
    margin-top: .3rem;

}
.feed .news .excerpt .feed-footer .like {
    font-size: .86rem;
    font-weight: 300;
    color: #9e9e9e;
}
.feed .news .excerpt .feed-footer .retweet {
    font-size: .86rem;
    font-weight: 300;
    margin-left: 1rem;
}
.feed .news .excerpt .feed-footer .followers {
    font-size: .86rem;
    font-weight: 300;
    margin-left: 1rem;
}
.feed .news .excerpt .feed-footer .following {
    font-size: .86rem;
    font-weight: 300;
    margin-left: 1rem;
}

.feed .news .excerpt .feed-footer .feelings {
    font-size: .86rem;
    font-weight: 300;
    margin-top: 0.5rem;
    margin-right: 1rem;
}
.feed .news .excerpt .feed-footer .subjectivity {
    font-size: .86rem;
    font-weight: 300;
    margin-top: 0.5rem;

}

.feed .news .excerpt .feed-footer .progress {
    width:100px;
    height:.86rem;
    display:inline-block;
    background-image:
            linear-gradient(#fff,#fff),
            linear-gradient(to left, #3fffa2 0%, #ffdb3a 50%,  #e5405e 100% );
    background-size:var(--p,50%) 100%,100% 100%;
    background-position:right,left;
    background-repeat:no-repeat;
}

.group0{
    border-color: #605770 !important
}
.group1{
    border-color: #264653 !important
}
.group2{
    border-color: #2a9d8f !important
}
.group3{
    border-color: #e9c46a !important
}

.group4{
    border-color: #ff4261 !important
}
.group5{
    border-color: #e76f51 !important
}
.group6{
    border-color: #9e7682 !important
}

.twitter-data{
    border-color: #3caaec !important;
}


.positive{
    background-color: #cfffcd;
}
.neutral{
    background-color: lightcyan;
}

.negative{
    background-color: lavenderblush;
}
.blur{
    background-color: rgba(1, 1, 1, 0.55); /* Color white with alpha 0.9*/
    z-index: 10;
    position: fixed;
    min-height: 100%;
    top: 0;
    left: 0;
    top:0;
    right: 0;
    width: 100%;
    height:100%;
    display: none
}
.highlighted{
    z-index: 11;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.results{
    display:none;
}


.circle-box{

    background-color:
            linear-gradient(to left, #3fffa2 0%, #ffdb3a 50%,  #e5405e 100% );
    width: 128px;
    height: 128px;
    text-align: center;
}
.circle-text{
    position: relative;
    padding-top: 30%;
}


.custom-progress {
    width: 100%;
    height:.86rem;
    display:inline-block;
    background-image:
            linear-gradient(grey,grey),
            linear-gradient(to left, #3fffa2 0%, #ffdb3a 50%,  #e5405e 100% );
    background-size:var(--p,50%) 100%,100% 100%;
    background-position:right,left;
    background-repeat:no-repeat;

}
.custom-progress-bar{
    width:var(--p,50%);
}
.very-bad{
    background-color:#fc0703;
}
.bad{
    background-color:#db857d;
}
.regular-bad{
    background-color:#f5d25f;
}
.no-info{
    background-color:#f7ce00;
}
.regular-good{
    background-color:#f7eb00;

}
.good{
    background-color:#b1f700;
}
.very-good{
    background-color:#25f700;

}
.very-bad-bg{
    background-color:#ffafad;
}
.bad-bg{
    background-color:#ebcfcc;
}
.regular-bad-bg{
    background-color:#f5d25f;
}
.no-info-bg{
    background-color:#f7ce00;
}
.regular-good-bg{
    background-color:#f7eb00;

}
.good-bg{
    background-color:#b1f700;
}
.very-good-bg{
    background-color:#25f700;

}
.feed-top{
    background-color: white;
}
.feed-top #top-icon{
    height: 10em;
 }
.feed-top .rounded-rank{
    width:150px;
    height:150px;
    margin:10px auto;
    border-radius:75px;
    padding-top:50px;
 }
.feed-top-sm{
    background-color: white;
    margin-top: 124px;
 }
.feed-top-sm #top-icon{
    height: 50px;
}
.feed-top-sm .rounded-rank{
    height: 50px;
    width: auto;
    margin: 0;
 }
.feed-top-sm h1{
    margin-bottom: 0;
}
.feed-top-tight{
    margin-top: 395px;
}


.verified{
    width:1em;
    height:1em;
}

p.followers {
    margin-top: 0rem;
    margin-bottom: 1rem;
}

.display-1{
    font-size: 4rem !important;
}
